html,
body
{
    background-color: rgb(151, 182, 240);
}
article 
{
    float: right;
    padding: 5px;
    width: 70%;
    /*height: 300px; /* only for demonstration, should be removed */
}
aside
{
    float: right;
    padding: 5px;
    width: 50%;
    padding-right: 400px;
    /*height: 300px; /* only for demonstration, should be removed */
}
/* Clear floats after the columns */
section::after 
{
    content: "";
    display: table;
    clear: both;
}
input
{
    width: 25%;
}
input[type=text]:focus 
{
    background-color: rgb(197, 211, 216);
    border: 3px solid #555;
}
input[type=button], input[type=submit], input[type=reset] 
{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
button
{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: large;
}
.scroller
{
    width: 500px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: auto;
    background-color: lightgray;
    border: 3px solid #555;
    padding: 10px;
}

#map {
    height: 60%;
    margin: 0;
    padding: 0;
    border: 3px solid #555;
}